Fact atom Identified by {{#literals}}{{ident}}{{^last}}, {{/last}}{{/literals}}

Placeholder x For atom
Placeholder y For atom

Fact record Identified by x * y

Act make-record
  Actor x
  Recipient y
  Holds when x && y
  Conditioned by !record(x, y)
  Creates record(x, y)

Property prop Where Always If Taken(make-record(x, y)) Then Holds(record(x, y)).
