Fact atom Identified by A, B

Placeholder actor For atom
Placeholder recipient For atom
{{#fields1}}
Placeholder {{ident}} For atom
{{/fields1}}

Fact record Identified by actor * recipient * {{#fields2}}{{ident}}{{^last}} * {{/last}}{{/fields2}}

Act make-record
  Actor actor
  Recipient recipient
  Related to {{#fields3}}{{ident}}{{^last}}, {{/last}}{{/fields3}}
  Holds when {{#fields4}}{{ident}}{{^last}} && {{/last}}{{/fields4}}
  Creates record(actor, recipient, {{#fields5}}{{ident}}{{^last}}, {{/last}}{{/fields5}})

Property prop Where Always If Taken(make-record(actor, recipient, {{#fields6}}{{ident}}{{^last}}, {{/last}}{{/fields6}}))
                           Then Holds(record(actor, recipient, {{#fields7}}{{ident}}{{^last}}, {{/last}}{{/fields7}})).
